@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
}

.col-filler {
  flex-basis: 0;
  flex-grow: 1;
}

.col-side {
  flex-basis: auto;
  flex-grow: 0;
}

.border-primary {
  border-color: $primary;
}
