@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  background: #F5C800;
}

.col-filler {
  flex-basis: 0;
  flex-grow: 1;
}

.col-side {
  flex-basis: auto;
  flex-grow: 0;
}

.border-primary {
  border-color: $primary;
}

.q-card, .q-menu {
  box-shadow: 3px 3px 0 #0003;
}

.q-menu, .q-dialog__inner > .q-card {
  box-shadow: 5px 5px 0 #0002;
  border: 1px solid $separator-color;
}
