@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  background: #F5C800;
}

.col-filler {
  flex-basis: 0;
  flex-grow: 1;
  width: 0;
}

.col-side {
  flex-basis: auto;
  flex-grow: 0;
}

.border-primary {
  border-color: $primary;
}

.q-card, .q-menu {
  box-shadow: 3px 3px 0 #0003;

  @media print {
    box-shadow: none;
  }
}

.q-menu, .q-dialog__inner > .q-card {
  box-shadow: 5px 5px 0 #0002;
  border: 1px solid $separator-color;
}

.select-all {
  user-select: all;
  cursor: pointer;
}

.border-top {
  border-top: 1px solid $separator-color;
}

.border-bottom-optional:not(:last-child) {
  border-bottom: 1px solid $separator-color;
}

.font-monospace {
  font-family: 'Space Mono', monospace;
}

.logo-number {
  background: white;
  border: 1px solid $separator-color;
  border-radius: $generic-border-radius;
  padding: 2px 4px;
  box-shadow: 1px 1px #0003;
  text-align: center;
}

@media print {
  .page-toolbar {
    display: none;
  }

  body {
    background: none;
  }

  .q-table tr:hover td:before {
    background: none;
  }
}
